<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- To run tests, change the following settings according to your Wordnik account -->
    <add key="wordnikApiKey" value="Wordnik_Api_Key"/>
    <add key="wordnikUsername" value="username"/>
    <add key="wordnikPassword" value="password"/>
  </appSettings>
</configuration>